<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">In development Spring/Summer 2016</h2>
                <hr class="light">
                <p class="text-faded">Animist is focussed on contracts whose fullfillment is strongly tied to someone's presence at a specific place in time. Such contracts can have arbitrary complexity: they might require repeated appearances, define locations by type, have time conditions or request sensor data from a mobile device. 
                <br><br>
                Users who satisfy a contract win anonymous ownership of a virtual currency with a defined exchange value. 
                <br><br> 
                Components under development include mobile and IoT applications that can execute location dependent contract clauses without requiring a user's intentional engagement, and online tools to help people manage these contracts on the Ethereum blockchain. </p>
                <a href="#contact" class="btn btn-default btn-xl">Contact</a>
            </div>
        </div>
    </div>
</section>
