<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">In development Spring/Summer 2016</h2>
                <hr class="light">
                <p class="text-faded">Animist targets contracts with conditions about someone's presence at a place or proximity to a thing. Such conditions might be as simple as specifying that someone goes somewhere. Or they could be arbitrarily complex and require repeated appearances, define locations by type, have dynamic temporal constraints, request real-time sensor data from a mobile device and demand that certain parties be co-located in time. 
                <br><br>
                Components under development include mobile and IoT applications that can execute location contingent contract clauses without requiring a user's intentional engagement, and online tools to help people define and manage these on the Ethereum blockchain. </p>
                <a href="#contact" class="btn btn-default btn-xl">Contact</a>
            </div>
        </div>
    </div>
</section>
