<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Under construction Spring/Summer 2016</h2>
                <hr class="light">
                <p class="text-faded">
                Components in development include mobile and IoT applications that can execute location contingent or proximity triggered contract clauses without requiring a user's intentional engagement, as well as online tools and an API to help people define and manage these on the Ethereum blockchain. </p>
            </div>
        </div>
    </div>
</section>
