<section id="components">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Components</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
         <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6 text-center">
                <div class="service-box">
                    <img src="../img/stack/upbx.png" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6 text-center vcenter">
                <div class="service-box">
                  <a href="https://github.com/animist-io/whale-island" target="_blank">
                     <h3> Whale Island </h3>
                  </a>
                  <p>
                  An Ethereum node on a Rasberry Pi which broadcasts a 
                  persistant BLE beacon signal. This allows it to launch and connect to nearby Animist
                  mobile clients even if they aren't currently running on their host device. A local Node.js server intermediates the mobile client and Ethereum, authenticating events and registering them with relevant contracts on the blockchain.  
                  </p>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6 text-center vcenter">
                <div class="service-box">
                  <a href="https://github.com/animist-io/wowshuxkluh" target="_blank">
                     <h3> Wowshuxkluh </h3>
                  </a>
                  <p>
                  Javascript libraries for IOS and Android which let apps link an Ethereum account to IOT platforms that implement an Animist API. This allows developers to build seamless location-contingent value transfers into any mobile application. Additional modules enable contract semantics that incorporate sensor data collected from the mobile device.    
                  </p>
                </div>
            </div>
            <div class="col-lg-1 col-sm-1 col-xs-1 text-center"></div>
            <div class="col-lg-3 col-sm-3 col-xs-3 text-center">
                <div class="service-box center-phone">
                    <img src="../img/stack/iphone.png" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-lg-1 col-sm-1 col-xs-1 text-center"></div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6 text-center">
                <div class="service-box">
                    <img src="../img/stack/network.png" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6 text-center vcenter">
                <div class="service-box">
                  <a href="https://github.com/animist-io/whale-island" target="_blank">
                     <h3> Wallowa </h3>
                  </a>
                  <p>
                  Animist as an oracle on Ethereum: an API for Solidity that lets contracts be written around Animist proximity events and handles the mechanics of publishing these to the blockchain.    
                  </p>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6 text-center vcenter">
                <div class="service-box">
                  <a href="https://github.com/animist-io/wowshuxkluh" target="_blank">
                     <h3> Wolves </h3>
                  </a>
                  <p>
                  An online tool to help translate natural language contract ideas into code that can be executed by Animist components on Ethereum itself. A Web UI that helps people build  arbitrarily complex event specifications for real space and time that result in a contractual value exchange. A place to register and display Animist IOT assets and define the cost of using them.  
                  </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6 text-center">
                <div class="service-box">
                    <img src="../img/stack/wolves.jpg" class="img-responsive"/> 
                </div>
            </div>
        </div>
    </div>
</section>