<section id="components">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Components</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
         <div class="row">
            <!-- Pi Image for larger screens -->
            <div class="col-lg-6 col-sm-6 hidden-xs text-center">
                <div class="service-box">
                    <img src="../img/stack/upbx.png" class="img-responsive"/> 
                </div>
            </div>
            <!-- Pi Image for smaller screens -->
            <div class="col-xs-2 visible-xs text-center"></div>
            <div class="col-xs-8 visible-xs text-center">
                <div class="service-box">
                    <img src="../img/stack/upbx.png" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-xs-2 visible-xs text-center"></div>

            <!-- Whale Island description -->
            <div class="col-lg-6 col-sm-6 col-xs-12 text-center vcenter ">
                <div class="service-box no-top-xs">
                  <a href="https://github.com/animist-io/whale-island" target="_blank">
                     <h3> Whale Island  <i class="fa fa-github component-icon"></i> </h3>
                  </a>
                  <p>
                  An Ethereum node on a Rasberry Pi which seamlessly connects to nearby Animist
                  mobile clients over Bluetooth BLE. A local Node.js server intermediates the mobile client and Ethereum, 
                  authenticating events and registering them with relevant contracts on the blockchain.  
                  </p>
                </div>
            </div>
         </div>
         <div class="row">
            <!-- IPhone Image for smaller screens -->
            <div class="col-xs-12 visible-xs">
                <div class="service-box">
                    <img src="../img/stack/iphone-horizontal.png" class="img-responsive"/> 
                </div>
            </div>
            <!-- Wowshuxkluh description -->
            <div class="col-lg-6 col-sm-6 col-xs-12 text-center vcenter">
                <div class="service-box">
                  <a href="https://github.com/animist-io/wowshuxkluh" target="_blank">
                     <h3> Wowshuxkluh <i class="fa fa-github component-icon"></i> </h3>
                  </a>
                  <p>
                  Javascript APIs for IOS/Android which let apps link an Ethereum account to Animist IOT endpoints. 
                  This allows developers to build seamless location-contingent value transfers into any mobile application. 
                  Additional modules enable contract semantics that incorporate sensor data collected from the mobile device.    
                  </p>
                </div>
            </div>
            <!-- IPhone Image for larger screens -->
            <div class="col-lg-1 col-sm-1 hidden-xs text-center"></div>
            <div class="col-lg-3 col-sm-3 hidden-xs text-center">
                <div class="service-box center-phone">
                    <img src="../img/stack/iphone.png" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-lg-1 col-sm-1 hidden-xs text-center"></div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12 text-center">
                <div class="service-box">
                    <img src="../img/stack/network.png" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 text-center vcenter">
                <div class="service-box">
                  <a href="https://github.com/animist-io/wallowa" target="_blank">
                     <h3> Wallowa <i class="fa fa-github component-icon"></i> </h3>
                  </a>
                  <p>
                  An API for Solidity that lets contracts be written around Animist proximity events 
                  and handles the mechanics of publishing these to the blockchain.    
                  </p>
                </div>
            </div>
         </div>
         <div class="row">
            <!-- Pi Image for smaller screens -->
            <div class="col-xs-2 visible-xs text-center"></div>
            <div class="col-xs-8 visible-xs text-center">
                <div class="service-box">
                    <img src="../img/stack/wolves.jpg" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-xs-2 visible-xs text-center"></div>
            <!-- Wolves description -->
            <div class="col-lg-6 col-sm-6 col-xs-12 text-center vcenter">
                <div class="service-box">
                  <a href="https://github.com/animist-io/wolves" target="_blank">
                     <h3> Wolves <i class="fa fa-github component-icon"></i> </h3>
                  </a>
                  <p>
                  An online tool to help translate natural language contract ideas into code that can be executed by Animist components on Ethereum. A Web UI that helps people build arbitrarily complex event specifications for real space and time that result in a contractual value exchange. A place to register and display Animist IOT assets and define the cost of using them.  
                  </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 hidden-xs text-center">
                <div class="service-box">
                    <img src="../img/stack/wolves.jpg" class="img-responsive"/> 
                </div>
            </div>
        </div>
    </div>
</section>