
 <div class="jumbotron jumbo_top">
    <div class="container">
        <div class="row">   
          <br>
          <p class="larger">
             Open Source Ethereum tools <br> for Mobile and IoT.
          </p>
          <p > Animist's goal is to make space and time transactionally <br> 
               available to smart-contracts with an IoT Ethereum node <br>
               and location oracle serving mobile clients over Bluetooth BLE. 
          </p>
          <p> <b> Project Status: </b> Early development, Spring/Summer 2016 </p>
          <br> 
          <a href="#about" class="btn btn-primary btn-xl page-scroll hidden-xs">
            <i class="fa fa-github fa-2x"></i> 
            <span class="github-text"> Code on Github </span>
          </a>
       </div>
    </div>
 </div>
