<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img class="graphic-small" src="../img/header_small.png"/>
            <img class="graphic-large" src="../img/header.png"/>
            <h1> Transfer power from place to person </h1>
            <br>
            <p>
               Animist is an open source Internet of Things platform which makes it easy to define and execute location based Ethereum contracts. 
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
