<header>
   <div class="header-content">
      <div class="header-content-inner">
         
          <div class="row">   
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
               <img class="img-responsive" src="../img/header3.png"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
          </div>
          <div class="row">
            <br>
            <p class="larger">
               An open source project developing tools to enable location-aware Ethereum contracts. 
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
         </div>
      </div>
   </div>
</header>
