<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tools in the Animist Stack</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-4 text-center">
                <div class="service-box">
                  <a href="https://www.ethereum.org/" target-"_blank">
                    <img src="../img/stack/ethereum.png" class="img-responsive"/> 
                  </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4 text-center">
                <div class="service-box">
                  <a href="https://nodejs.org/en/" target-"_blank">
                     <img src="../img/stack/node.png" class="img-responsive"/> 
                  </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4 text-center">
               <div class="service-box">
                  <a href="https://www.meteor.com/" target="_blank">
                     <img src="../img/stack/meteor.png" class="img-responsive"/> 
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4 text-center">
                <div class="service-box">
                  <a href="http://ionicframework.com/" target="_blank">
                     <img src="../img/stack/ionic.png" class="img-responsive"/> 
                  </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4 text-center">
                <div class="service-box">
                  <a href="https://www.raspberrypi.org/" target="_blank">
                     <img src="../img/stack/pi.png" class="img-responsive"/> 
                  </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4 text-center">
                <div class="service-box">
                  <a href="https://angularjs.org/" target="_blank">
                     <img src="../img/stack/angular.png" class="img-responsive"/> 
                  </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4 text-center">
                <div class="service-box">
                  <a href="https://developer.apple.com/ibeacon/" target="_blank">
                     <img src="../img/stack/ibeacon.png" class="img-responsive"/> 
                  </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4 text-center">
                <div class="service-box">
                  <a href="https://metamask.io/" target="_blank">
                     <img src="../img/stack/metamask.png" class="img-responsive"/>
                  </a> 
                </div>
            </div>
        </div>
    </div>
</section>
