<section id="usecases" class="use-case-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Use case #1: Human Race</h2>
                <h3> A mobile app for competitive running that pays <h3>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
         <div class="row">
            <div class="col-lg-1 col-sm-1 hidden-xs text-center vcenter use-case-icon"> 
               <i class="fa fa-map-marker fa-4x img-responsive "></i>
            </div>
            <div class="col-lg-11 col-sm-11 col-xs-11">
               <p>
                  Two runners in New York want to bet each other $20 on a race across the Williamsburg Bridge. There's an app for that: Human Race. It helps them find two Animist enabled locations near either end of the bridge - a small bakery in LES and a natural foods store on Broadway in Brooklyn. The app can tap into these IOT nodes to authenticate the runners' presence and execute conditional payment contracts on the Ethereum chain.
               <br>
               </p> 
            </div>
         </div>
         <div class="row">
            <div class="col-lg-1 col-sm-1 hidden-xs text-center vcenter use-case-icon"> 
               <i class="fa fa-coffee fa-4x img-responsive "></i>
            </div>
            <div class="col-lg-11 col-sm-11 col-xs-11">
               <p>
                  They meet at the bakery and register the bet through their phones, transferring $20 from their digital wallets into an escrow contract. The app fires a starting shot.  Whoever reaches the natural foods store first is detected by its Animist endpoint and automatically gets the proceeds of the wager. 
                  <br>
               </p>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-1 col-sm-1 hidden-xs text-center vcenter use-case-icon"> 
               <i class="fa fa-gbp fa-4x img-responsive "></i>
            </div>
            <div class="col-lg-11 col-sm-11 col-xs-11">
               <p>
                  Human Race also permits side bets on this race in jurisdictions where casual betting is legal. It sets aside a portion of that betting pool for a jackpot awarded to the race winner. Maybe the winner gets more than $20! Maybe not. Depends on their social media connections to people in England.   
               </p>
            </div>
         </div>
    </div>
</section>