<section id="usecases" class="use-cases">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Use case #1: Human Race</h2>
                <h3> A mobile app for competitive running that pays <h3>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
         <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
               <p>
                  Two friends live in New York. They love to run. They decide to wager $10 on a foot race from the tiny cupcake bakery on Broome Street in LES to the natural foods bodega across the Williamsburg Bridge at 282 Broadway. Both locations host Animist enabled IOT nodes that can detect their presence and execute contracts on the Ethereum chain.
               <br>
               </p> 
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
               <p>
                  They meet at the bakery, eat a snack and use the Human Race app to place the bet. The app fires a starting shot.  Whoever reaches the bodega first is detected by its Animist endpoint and gets the $10 virtual wager automatically transferred to their virtual account. 
                  <br>
               </p>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
               <br>
               <p>
                  Human Race also permits side bets on this race in jurisdictions where casual betting is legal. It sets aside a portion of that betting pool for a jackpot awarded to the race winner. Maybe the winner gets more than $10! Maybe not. Depends on their social media connections to people in England.   
               </p>
            </div>
         </div>
    </div>
</section>